.A{
    height: 50px;
}
.cen{
   text-align: center;

}
table,th,td,.h{
    font-family: 'Times New Roman', Times, serif;
}
.mad{
    margin-left: 10px;
}
.back{
    color: blue;
}
.bac{
    color: pink;
}